
<div class="card shadow-sm flex-grow-1">
  <div class="card-body p-4 text-center">

    <%# Student Photo Area %>
    <div class="student-verification-photo mx-auto mb-3">
      <% if @student.photo.attached? %>
        <%= image_tag @student.photo.variant(resize_to_fill: [250, 250]), class: "img-thumbnail rounded-circle" %>
      <% else %>
        <span>PHOTO</span>
      <% end %>
    </div>



    <%# Student Name %>
    <h3 class="card-title mb-1"><%= @student.full_name %></h3>

    <p>
      <strong>Email:</strong>
      <%= student.email %>
      <strong>Date of birth:</strong>
      <%= student.date_of_birth %>
    </p>

  </div>
</div>
