<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= teacher.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

</div>
