<footer class="bg-light text-center text-lg-start mt-auto py-3">
  <div class="text-center">
    © <%= Time.now.year %> Non Sei Solo - Chiesa Evangelica Arca Missionaria - Via Il Prato, 40/R, 50123 Firenze FI, Italia
  </div>
</footer>
